.login {
  position: relative;
  text-align: center;
}
#password {
  width: 40%;
  height: 45px;
}
#email {
  width: 40%;
  height: 45px;
}
.form-select {
  width: 40%;
  height: 45px;
}
#title {
  font-size: 30px;
  font-weight: bold;
}
.form-inline {
  margin-left: 40%;
}
#role {
  margin-right: 130%;
}
#submit {
  font-size: 20px;
  font-weight: bolder;
  margin-right: 60%;
  width: 40%;
}
#icon {
  position: absolute;
  cursor: pointer;
  top: 40%;
  right: 37%;
}
