.navbarClass {
  font-size: larger;
  display: flex;
  margin-top: 0.5%;
}
#navTitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #0073e6;
  margin-top: 0.7%;
}
.navbar-text {
  display: flex;
  font-weight: 500;
  color: rgb(40, 40, 40);
  margin-left: 15%;

  /* Use flex display to enable control over spacing */
}
.navbar-toggler {
  opacity: 0;
}

#home:hover {
  color: #0073e6;
}
#calendar {
  padding-left: 30px;
}
#calendar:hover {
  color: #0073e6;
}
.custom-hr {
  border-color: #808080; /* Lighter color for the hr line */
  border-width: 1px;
}
img {
  flex: 0.1;
  width: 5%;
  height: 60px;
}
.connect {
  position: relative;
  font-size: larger;
  display: flex;
  margin-left: 30%;
  justify-content: space-between;
}
#login {
  position: absolute;
  left: 250px;

  height: 120%;
  font-size: 18px;
  font-weight: bolder;
}
#admin {
  margin-top: 5%;
  height: 60%;
  margin-left: 80%;
  right: 40%;
}

@media (max-width: 700px) {
  .navbar-toggler {
    opacity: 1;
    margin-left: 40%;
  }

  .navbar-text {
    font-size: 15px;
    width: 40%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 40%;
    background-color: #fff;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s, transform 0.3s;
  }
  .connect {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }

  .navbar-text.open {
    display: flex;
  }

  .navbar-text li {
    margin: 10px 0;
  }

  .navbar-text a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }
}
